header,
main {
  overflow: hidden;
  position: relative;
}


.menu-logo img {
  max-height: 70px;
}

.header-logo {
  position: relative;
  z-index: 5;
}

#features.features-section {
  background-image: 
       linear-gradient(rgba(143, 86, 58, 0.62), rgba(143, 86, 58, 0.62)),
    url(/img/features.webp);
  background-size: cover;
  background-position: center;
  
  h2, h3, p {
    text-shadow: 1px 1px 4px rgba(96, 69, 60, 0.7);
  }

  @media (max-width: 767px) {
    background-image: 
      linear-gradient(rgba(143, 86, 58, 0.62), rgba(143, 86, 58, 0.62)),
      url(/img/features-mobile.webp);
  }
}

#features .material-icons {
  font-size: 40px;
}

.service {
  margin-right: 0.5em;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  line-height: 1;
}

.years15-section:after {
  background-color: #5a3939;
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.years15-section:after {
  left: 30%;
}

.contacts-section:after {
  background-color: #5a3939;
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  top: 0;
  z-index: 2;
}

.contacts-section:after {
  right: 30%;
}

.detail-price {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  width: 100%;
}

.price-name {
  position: relative;
  flex: 0 1 75%;
  padding: 0 2px 0 0;
  min-width: 0;
  max-width: fit-content;
}

.price-name h5,
.price-number h5 {
  position: relative;
  line-height: 1.2;
  margin-bottom: 0;
  text-align: left;
  span {
    position: relative;
    z-index: 2;
    background-color: #ece3dd;
  }
}

.price-dots {
  position: absolute;
  bottom: 12px;
  height: 3px;
  min-width: 20px;
  z-index: 1;
  background-image: radial-gradient(
    circle closest-side,
    #878889 99%,
    transparent 100%
  );
  background-position: 50% 100%;
  background-size: 5px 2px;
  background-repeat: repeat-x;
  width: 100%;
  z-index: 1;
}

.price-number {
  position: relative;
  background-color: #ece3dd;
  padding: 0 0 0 4px;
  white-space: nowrap;
  z-index: 2;
}

.price-txt p {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
}

#promo-1:before,
#promo-1:after {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  z-index: 1;
}

#promo-1:before {
  background-image: url(/img/promo-1.webp);
  width: 49%;
  height: 90%;
  top: 5%;
}

#promo-1:after {
  background-image: url(/img/promo-2.webp);
  width: 49%;
  height: 100%;
  top: 0;
  left: 51%;
}

.burger-icon {
  display: none;
}

@media (max-width: 767px) {
  .years15-section::after,
  .contacts-section:after {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 460px) {
  .price-name {
    white-space: normal;
  }
}

@media (min-width: 768px) {
  header.fixed {
    background: #ece3dd;
    color: #5a3939;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    transform: translate(0, -200px);
  }

  header.fixed img {
    height: 60px;
  }

  header.in-view {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0, 0);
  }

  #button-whatsapp {
    display: none;
  }
}

.masters-tabs {
  display: flex;
  justify-content: center;
  margin: 5px auto 10px;
  max-width: 400px;
}

.master-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  text-align: center;
  line-height: 1.2;
  padding: 4px;
  &:not(:first-child) {
    border-left: #5a3939 1px solid;
  }
}

.price-active {
  height: auto;
}

@media (max-width: 767px) {
  .header {
    position: fixed;
  }
  .burger-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .burger-icon span,
  .burger-icon::before,
  .burger-icon::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #5a3939;
  }
  .burger-icon::before,
  .burger-icon::after {
    content: "";
  }
  .burger-icon::before {
    top: 0;
  }
  .burger-icon::after {
    bottom: 0;
  }
  .burger-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger-icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .burger-icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger-icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }
  .menu-body.active {
    left: 0;
  }
  .menu-body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 61px;
    background-color: #ece3dd;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  }
  .menu-body li {
    margin: 0 0 30px 0;
    font-size: 24px;
    color: #ece3dd;
    cursor: pointer;
  }
  .menu-logo img {
    height: 45px;
    width: auto;
  }
}

@media (max-width: 767px) {
  #promo-1:before {
    top: 0;
    height: 340px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #promo-1:after {
    top: 340px;
    min-height: 680px;
    width: 100%;
    left: 0%;
  }
}
