@import "tailwindcss";

@layer base {
  body {
    font-family: "Source Serif Pro", serif;
    font-weight: 300;
    background-color: #ece3dd;
    color: #5a3939;
  }
}

@theme {
  --color-darkbrown: #5a3939;
  --color-mediumbrown: #8f6964;
  --color-lightbrown: #ece3dd;
}

/* Настройки container */
@utility container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
